alias C=" code - &"

alias chrome-insecure='/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome --ignore-certificate-errors --ignore-urlfetcher-cert-requests &> /dev/null'
alias chrome-debug='/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome --remote-debugging-port=9222 &> /dev/null'
alias notes='code $HOME/workspace/otomi/notes'

alias g="git"
alias "g?"="git status"
alias "g+"="git add"
alias "g-"="git rm"
alias "g!"="git commit -am"
alias "gf!"="git commit --no-verify -am"
alias "g%"="git sync"
alias gp="git pull"
alias gps="git push"
